{{!------------------------------
To add a new social icon simply duplicate one of the list items from below
and change the class in the <i> tag to match the desired social network
and then add your link to the <a>. Here is a full list of social network
classes that you can use:

    icon-social-500px
    icon-social-behance
    icon-social-delicious
    icon-social-designer-news
    icon-social-deviant-art
    icon-social-digg
    icon-social-dribbble
    icon-social-facebook
    icon-social-flickr
    icon-social-forrst
    icon-social-foursquare
    icon-social-github
    icon-social-google-plus
    icon-social-hi5
    icon-social-instagram
    icon-social-lastfm
    icon-social-linkedin
    icon-social-medium
    icon-social-myspace
    icon-social-path
    icon-social-pinterest
    icon-social-rdio
    icon-social-reddit
    icon-social-skype
    icon-social-spotify
    icon-social-stack-overflow
    icon-social-steam
    icon-social-stumbleupon
    icon-social-treehouse
    icon-social-tumblr
    icon-social-twitter
    icon-social-vimeo
    icon-social-xbox
    icon-social-yelp
    icon-social-youtube
    icon-social-zerply
    icon-mail

--------------------------------}}

<nav class="navigation right">
  <ul class="social expanded">

  <!-- Weibo -->
  <li class="social item hvr-grow-rotate">
    <a rel="me" target="blank" href="http://weibo.com/2418646844" title="@苏理煌 on Weibo">
      <i class='fa fa-2x fa-weibo'></i>
      <span class="label">Weibo</span>
    </a>
  </li>

  <!-- Github -->
  <li class="social item hvr-grow-rotate">
    <a rel="me" target="blank" href="https://github.com/nicesu" title="苏理煌 on Github">
      <i class='icon icon-social-github'></i>
      <span class="label">Github</span>
    </a>
  </li>

  <!-- Linkedin -->
  <li class="social item hvr-grow-rotate">
    <a rel="me" target="blank" href="https://dribbble.com/sulihuang" title="苏理煌 on dribbble">
      <i class='icon icon-social-dribbble'></i>
      <span class="label">Dribbble</span>
    </a>
  </li>

  <!-- Music -->
  <li class="social item hvr-grow-rotate">
    <a rel="me" target="blank" href="https://medium.com/@tracysu" title="苏理煌 on medium">
      <i class='icon icon-social-medium'></i>
      <span class="label">Medium</span>
    </a>
  </li>

  <!-- Mail -->
  <li class="social item hvr-grow-rotate">
    <a href="mailto:sulihuang0@gmail.com" title="Email">
      <i class="fa fa-2x fa-envelope-o"></i>
      <span class="label">Email</span>
    </a>
  </li>

  <!-- RSS -->
  <li class="social item hvr-grow-rotate">
    <a href="/rss/" title="订阅到 RSS">
      <i class='icon icon-rss'></i>
      <span class="label">RSS</span>
    </a>
  </li>

  </ul>
</nav>
